@use "@/app/mixins/index.scss" as *;

.closingImage {
  height: 342px;
  background-color: #00877E;
  display: flex;
  justify-content: center;
  padding: 0;

  @include mediaMobileBig {

  }
  @include mediaDesktopMedium {

  }

  &__wrap {
    display: flex;
  }
}
