@use "src/app/mixins/index" as *;

.technologies {
  padding-bottom: 89px;
  overflow-x: hidden;
  background-color: var(--color-gray);
  padding-top: 50px;

  @include mediaMobileMedium {
    padding-top: 70px;
    padding-bottom: 110px;
  }

  @include mediaDesktop {
    padding-top: 159px;
    margin-top: -1px;
    padding-bottom: 174px;
  }

  &__title {
    margin-bottom: 71px;

    @include mediaDesktop {
      max-width: 1150px;
      margin: 0 auto 128px;
    }
  }

  &__heading {
    @include heading_h3_responsive;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 63px;
    list-style: none;
    gap: 38px;

    @include mediaMobileMedium {
      gap: 2px;
    }

    @include mediaDesktop {
      gap: 0;
      margin-bottom: 6px;
    }
  }

  &__elem {
    display: flex;
    flex-direction: column;

    @include mediaMobileMedium {
      gap: 60px;
      flex-direction: row;
      padding-right: 38px;
      align-items: center;
    }

    @include mediaDesktop {
      gap: 127px;
      padding-right: 0;
    }

    &_reverse {
      @include mediaMobileMedium {
        flex-direction: row-reverse;
        padding-right: 0;
        gap: 24px;
      }

      @include mediaDesktop {
        gap: 127px;
        transform: translateY(calc(18px - 20%));
      }
    }
  }

  &__image {
    margin-bottom: 40px;
    flex-basis: 50%;

    @include mediaDesktop {
      flex-basis: unset;
      width: calc(50% - 109px);
    }
  }

  &__elem_reverse &__image {
    @include mediaDesktop {
      width: calc(65% - 58px);
    }
  }

  &__text-block {
    flex-basis: 50%;

    @include mediaMobileMedium {
      margin-bottom: 34px;
      padding-left: 1px;
    }

    @include mediaDesktop {
      margin-bottom: 0;
      padding-left: 0;
      transform: translate(0, -90px);
    }
  }

  &__elem_reverse &__text-block {
    @include mediaMobileMedium {
      margin-bottom: 38px;
      padding-left: 0;
    }

    @include mediaDesktop {
      margin-bottom: 20px;
      transform: translateY(20%);
    }
  }

  &__text {
    margin-bottom: 18px;

    @include heading_h4_responsive;

    @include mediaTablet {
      margin-bottom: 14px;
    }

    @include mediaDesktop {
      margin-bottom: 24px;
      width: 80%;
    }
  }

  &__elem_reverse &__text {
    @include mediaMobileMedium {
      padding-right: 25px;
      margin-bottom: 14px;
    }

    @include mediaDesktop {
      width: 100%;
      padding-right: 10px;
      margin-bottom: 25px;
    }
  }

  &__subtext {
    padding-right: 1px;

    @include text_p1_responsive;

    @include mediaDesktop {
      padding-right: 0;
      width: 80%;
    }
  }

  &__elem_reverse &__subtext {
    @include mediaMobileMedium {
      padding-right: 12px;
    }

    @include mediaDesktop {
      padding-right: 0;
      width: 90%;
    }
  }

  &__partners-title {
    margin-bottom: 51px;

    @include mediaMobileMedium {
      margin-bottom: 39px;
    }

    @include mediaDesktop {
      margin-bottom: 80px;
    }
  }

  &__partners-heading {
    @include heading_h4_responsive;
  }

  &__partners-list {
    --logos-count: 6;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-width: 342px;
    justify-content: center;
    row-gap: 45px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 -7px;
    place-items: center;

    @include mediaTablet {
      display: grid;
      grid-template-columns: repeat(var(--logos-count), 1fr);
      margin: 0;
    }

    @include mediaDesktop {
      column-gap: calc(2vw - 9px);
    }

    @include mediaDesktopDesign {
      column-gap: 20px;
    }
  }

  &__partners-elem {
    --partners-duration-opacity: .2s;
    --partners-duration-transform: .2s;
    --partners-delay-base: .12s;
    --partners-order: 0;
    --partners-delay: calc(var(--partners-delay-base) * var(--partners-order));

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: translateX(0);
    width: 33%;
    min-width: 114px;
    transition: opacity var(--partners-duration-opacity) var(--partners-delay) linear, transform var(--partners-duration-transform) var(--partners-delay) linear;

    &:nth-child(6n+1) {
      --partners-order: 0;
    }

    &:nth-child(6n+2) {
      --partners-order: 1;
    }

    &:nth-child(6n+3) {
      --partners-order: 2;
    }

    &:nth-child(6n+4) {
      --partners-order: 1;

      @include mediaTablet {
        --partners-order: 3;
      }
    }

    &:nth-child(6n+5) {
      --partners-order: 2;

      @include mediaTablet {
        --partners-order: 4;
      }
    }

    &:nth-child(6n+6) {
      --partners-order: 3;

      @include mediaTablet {
        --partners-order: 5;
      }
    }

    @include mediaDesktop {
      width: calc(14vw - 8px);
    }

    @include mediaDesktopDesign {
      max-width: 193px;
    }

    & svg {
      width: 114px;

      @include mediaTablet {
        width: 100%;
      }
    }
  }

  &__partners-list_hidden &__partners-elem {
    --partners-x: 20px;
    opacity: 0;
    transition-delay: 0s;
    transform: translateX(var(--partners-x));
  }
}
