@use "src/app/mixins/index.scss" as *;
@use "src/app/mixins/typography";
@use "src/app/mixins/queries";

.container {

  position: relative;

  &_show {
    background-color: #F4F5F8;
    border-radius: 20px;
    margin-bottom: 8px;

    &::before {
      content: '';
      position: absolute;
      background-color: var(--color-white);
      height: 8px;
      min-width: 100%;
      bottom: 100%;
    }

    @include mediaDesktopMedium {
      width: 1230px;
    }

    @include mediaDesktopDesign {
      width: 1360px;
    }
  }

  &:hover {
    &>div:nth-child(1)>div:nth-child(1)>div:nth-child(2) {
      color: var(--color-green);
    }
    &>div>div:nth-child(3)>svg>path {
      stroke: var(--color-green);
    }
  }

}

.head {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  //padding: 11px 50px 0;
  padding: 32px 50px 24px 0;
  margin-left: 50px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-border-pink);
  margin-top: -10px;

  &:first-child {
    margin-top: 0;
  }

  @include mediaDesktopMedium {
    width: 1146px;
    margin-right: 40px;
  }

  @include mediaDesktopDesign {
    height: 113px;
    //align-items: center;
    width: 1260px;
  }

  &_show {
    background-color: #F4F5F8;
    border: none;
    border-radius: 20px;
    margin-bottom: 1px;

    @include mediaDesktopDesign {
      margin-bottom: 0;
    }
  }

  &__header {
    display: flex;
  }

  &__arrow {
    margin-top: -5px;

    @include mediaDesktopMedium {
      margin-left: 106px;
      display: flex;
      align-items: center;
    }

    @include mediaDesktopDesign {
      margin-left: 86px;
    }

    &_open {
      transform: rotate(540deg);
      transition: transform .8s var(--ease-out);
    }

    &_close {
      transform: rotate(1turn);
      transition: transform .8s var(--ease-out);
    }
  }

  &__svg {
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 40px;
  }
}

.title {
  font-family: "Neue Haas Unica Pro";
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-text);
  margin-left: 32px;
  width: 300px;
  margin-top: 12px;
  //align-self: center;
}

.icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  &__svg {

    margin-top: 4px;
    &:first-child {
      @include mediaDesktopMedium {
        margin-left: 120px;
      }
      @include mediaDesktopDesign {
        margin-left: 170px;
      }
    }

    &:nth-child(2) {
      @include mediaDesktopMedium {
        margin-left: 200px;
      }
      @include mediaDesktopDesign {
        margin-left: 232px;
      }
    }

    &:nth-child(3) {

      @include mediaDesktopMedium {
        margin-left: 200px;
      }
      @include mediaDesktopDesign {
        margin-left: 246px;
      }
    }
  }
}

.content {
  transition: 0.3s ease-out;
  overflow: hidden;

  & > div:nth-child(1) {
    @include mediaDesktopDesign {
      margin-top: -10px;
    }
  }
}
