.Ticker {
  display: flex;
  flex-direction: column;
}

.TickerCard {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid orange;
  width: 200px;
  height: 200px; 
  margin: 10px;
  font-size: 40px;
}

ul, li {
  padding: 0;
  list-style: none;
}